* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color:;
}

h3 {
  font-size: 1.4rem;
  margin-right: 45px;
}

button {
  cursor: pointer;
}

header {
    background-color: white;
    padding: 20px;
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.leftheader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.libLogo {
  margin-top: 10px;
}

.title {
  font-size: 2.3rem;
  font-weight: bold;
}

#loginBtn {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: aliceblue;
}

main, footer {
    background-color: lightgray;
}

#addBtn {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: aliceblue;
}

#card-grid {
  /* display: grid;
  grid-template-columns: repeat(autofill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 40px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  max-width: 1000;
  position: absolute;
  top: 20%;
  left: 15%;
  margin: 2rem;
}

main {
  text-align: center;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 50%;
    top: 50%;
    width: 300px; /* width */
    overflow: auto; /* Enable scroll if needed */
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
    background-color: whitesmoke;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    display: block;
}

.addBookForm {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modalIntro {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.readCheck {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.haveRead {
  font-size: 1.2rem;
  font-weight: 500;
}

input {
  padding: 10px;
  border: none;
  border-radius: 8px;
}

.checkBox {
  width: 20px;
  height: 20px;
  margin-top: 4px;
  accent-color: white;
  cursor: pointer;
}

#submitBtn {
  border: none;
  border-radius: 8px;
  background-color: lightgreen;
  padding: 10px 15px;
  width: 100%;
  font-size: 1.2rem;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
    display: block;
}
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
  }

  /*icon edits*/

.edit-icon, .icons {
  width: 25px;
  height: 25px;
}

.edit-icon {
  cursor: pointer;
}

.card.book {
  width: 250px;
  height: 300px;
  border-radius: 5px;
  margin: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
  background: white;
}